In [4]:
import numpy as np
import pandas as pd

In [5]:
# Read file csv
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [6]:
# Drop column not needed
confirmed_df.drop(['Province/State', 'Lat', 'Long', ], axis=1, inplace=True)
deaths_df.drop(['Province/State', 'Lat', 'Long', ], axis=1, inplace=True)
recovered_df.drop(['Province/State', 'Lat', 'Long', ], axis=1, inplace=True)

In [7]:
# Group by country and sum recoveries
# Delete index after group by
confirmed_df = confirmed_df.groupby('Country/Region').sum().reset_index()
deaths_df = deaths_df.groupby('Country/Region').sum().reset_index()
recovered_df = recovered_df.groupby('Country/Region').sum().reset_index()

In [8]:
confirmed_df = confirmed_df.melt(id_vars='Country/Region', var_name='Date', value_name='Confirmed')
deaths_df = deaths_df.melt(id_vars='Country/Region', var_name='Date', value_name='Death')
recovered_df = recovered_df.melt(id_vars='Country/Region', var_name='Date', value_name='Recovered')

In [9]:
df_merged = pd.merge(confirmed_df, deaths_df, on=['Country/Region', 'Date'])
df_merged1 = pd.merge(df_merged, recovered_df, on = ['Country/Region', 'Date'])

In [10]:
# continent_df = pd.read_csv('owid-covid-data.csv')
# df_merged2 = pd.merge(df_merged1, continent_df[['continent','Country/Region']], on = 'Country/Region', how = 'left')

# df = pd.merge(df_merged2, continent_df[['Country/Region', 'continent']], on='Country/Region', how='left')
df_merged1

              Country/Region     Date  Confirmed  Death  Recovered
0                Afghanistan  1/22/20          0      0          0
1                    Albania  1/22/20          0      0          0
2                    Algeria  1/22/20          0      0          0
3                    Andorra  1/22/20          0      0          0
4                     Angola  1/22/20          0      0          0
...                      ...      ...        ...    ...        ...
229738    West Bank and Gaza   3/9/23     703228   5708          0
229739  Winter Olympics 2022   3/9/23        535      0          0
229740                 Yemen   3/9/23      11945   2159          0
229741                Zambia   3/9/23     343135   4057          0
229742              Zimbabwe   3/9/23     264276   5671          0

[229743 rows x 5 columns]

In [12]:
# confirmed_df.to_csv('confirmed.csv', index=False)
# deaths_df.to_csv('deaths.csv', index=False)
# recovered_df.to_csv('recovered.csv', index=False)
# df_merged1.to_csv('data.csv', index = False)


df_merged1['Date'] = pd.to_datetime(df_merged1['Date'])
result = df_merged1.groupby(['date']).sum()
result

In [14]:
df_merged1

              Country/Region       Date  Confirmed  Death  Recovered
0                Afghanistan 2020-01-22          0      0          0
1                    Albania 2020-01-22          0      0          0
2                    Algeria 2020-01-22          0      0          0
3                    Andorra 2020-01-22          0      0          0
4                     Angola 2020-01-22          0      0          0
...                      ...        ...        ...    ...        ...
229738    West Bank and Gaza 2023-03-09     703228   5708          0
229739  Winter Olympics 2022 2023-03-09        535      0          0
229740                 Yemen 2023-03-09      11945   2159          0
229741                Zambia 2023-03-09     343135   4057          0
229742              Zimbabwe 2023-03-09     264276   5671          0

[229743 rows x 5 columns]

KeyError: 'date'